* {
    font-family: 'Inter', sans-serif;
}
body{
    margin: 0px;
}
nav {
    font-size: 14px;
    font-weight: 400;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    }

.logo { 
    height: 70%;
}

.devis {
    border: 1x;
    background-color: #388AF7;
    background-image: linear-gradient(#388AF7 5.66%, #0066FF 94.35%);
    padding: 15px;
    border-radius: 5px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
}

